<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <ng-select [items]="topics" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" bindLabel="name"
          placeholder="Select topics" [(ngModel)]="selectedTopics">
        </ng-select>
      </div>
      <button type="button" class="col col-md-auto btn btn-primary" (click)="getSelectedTopics()">Submit</button>
      <div class="col col-md-auto">
        <input class="form-control" type="text" [(ngModel)]="nameFilter" name="nameFilter" (ngModelChange)="filter()"
          placeholder="Search by term">
      </div>
    </div>
  </div>
  <br><br>

  <form #reposManagementForm="ngForm" novalidate>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Topics</th>
          <th>Description</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of filteredRepos | paginate: {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage}">
          <td>
            <a href="{{ repo.name }}" routerLink="{{ repo.name }}">{{ repo.name }}</a>
          </td>
          <td>
            <span *ngFor="let topic of repo.topics; last as isLast">{{ topic }}<span *ngIf="!isLast">, </span></span>
          </td>
          <td>{{ repo.description }}</td>
          <td>
            <a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="currentPage = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>

    <table class="table table-striped">
      <tr>
        <td>Current Page</td>
        <td>{{ currentPage }}</td>
      </tr>
      <tr>
        <td>Repositories per page</td>
        <td>
          <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage" min="1" pattern="^[0-9]$">
        </td>
      </tr>
      <tr>
        <td>Repositories found</td>
        <td>{{ filteredRepos.length }}</td>
      </tr>
    </table>
  </form>
</div>