<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Topics</th>
            <th>Description</th>
            <th>Contributors</th>
            <th>Languages</th>
            <th>License</th>
            <th>Website</th>
            <th>Readme</th>
        </tr>
        <tr>
            <td>{{ repo.id }}</td>
            <td>{{ repo.name }}</td>
            <td><span *ngFor="let topic of repo.topics">{{ topic }}, </span></td>
            <td>{{ repo.description }}</td>
            <td><span *ngFor="let cont of repo.contributors">{{ cont.login }}, </span></td>
            <td><span *ngFor="let language of repo.languages">{{ language }}, </span></td>
            <td>{{ repo.license }}</td>
            <td><a href="{{ repo.url }}" target="_blank">website</a></td>
            <td [innerHTML]="repo.readme|marked">
                <button formtarget="_blank">Readme.md</button>
            </td>
        </tr>
    </table>
</div>