<div class="container">
  <!--
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">OpenEBench</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>
-->


  <nav>
    <a routerLink="/oeb" routerLinkActive="active">OpenEBench</a> |
    <a routerLink="/scientific" routerLinkActive="active">Scientific Benchmarking</a> |
    <a routerLink="/technical" routerLinkActive="active">Technical Monitoring</a> |
    <a routerLink="/topics" routerLinkActive="active">Topics</a> |
    <a routerLink="/repositories" routerLinkActive="active">Repositories</a>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>